.rotate {
    animation: rotate 5s linear infinite;
}
.robot-nose:hover {
    animation: hover 2s linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes hover {
    50% {
        transform: rotate(-45deg);
    }
}
