.robot-eye-right {
    animation: rotate 5s linear infinite;
}
.robot-nose:hover {
    animation: hover 2s linear;
}

.robot-ear-right {
    animation: disappearing-appear 4s linear infinite;
}
.hi {
    animation: name duration timing-function delay iteration-count direction
        fill-mode;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes disappearing-appear {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
@keyframes hover {
    50% {
        transform: rotate(-45deg);
    }
}
